<template name="home">
  {{> navbar page="home"}}

  <div id="create-poll">
    <button class="button radius" id="create-poll-btn">Create a Poll</button>
  </div>

  {{#if currentUser}}
    <div class="row item-list home">
      <div class="small-12 medium-8 medium-centered columns">
        {{#each polls}}
          <a href="/polls/{{url}}">
            <div class="row item btn">
              <span class="link left">{{title}}</span>
              {{#if isPollCreator pollId=_id}}
                <span class="right">
                  <span class="badge">OWNER</span>
                  <a href="#" data-reveal-id="delete-poll-modal" data-poll-id="{{_id}}">
                    <i class="fa fa-times icon-btn delete"></i>
                  </a>
                </span>
              {{/if}}
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#unless currentUser}}
    <p id="create-poll-or-login">or</p>
    <div id="login-home">
      {{> loginButtons}}
    </div>
  {{/unless}}

  <div id="delete-poll-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2>Are you sure you want to delete this poll?</h2>
    <p>
      Once you delete a poll, it's gone forever. All votes for the poll will
      be lost as well.
    </p>
    <a href="#" class="button delete-confirmation">Yes, delete this poll</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</template>
