<template name="home">
  <div id="create-poll">
    <button class="button radius" id="create-poll-btn">Create a Poll</button>
  </div>
  {{#if currentUser}}
    <div class="row item-list home">
      <div class="small-12 medium-8 medium-centered columns">
        {{#each polls}}
          <a href="/polls/{{url}}">
            <div class="row item btn">
              <span class="link left">{{title}}</span>
              {{#if isPollCreator pollId=_id}}
                <span class="right">
                  <span class="badge">OWNER</span>
                  <i class="fa fa-times icon-btn delete" data-poll-id="{{_id}}"></i>
                </span>
              {{/if}}
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  {{else}}
    <p id="create-poll-or-login">or</p>
    <div id="login-home">
      {{> loginButtons}}
    </div>
  {{/if}}
</template>
