<template name="navbar">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{pathFor route='home'}}">VoteUp</a></h1>
      </li>
      {{#if showMenuIcon}}
        <li class="toggle-topbar menu-icon"><a href><span></span></a></li>
      {{/if}}
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        {{#if currentUser}}
          {{#if pageIsPoll}}
            <li><a href="{{pathFor route='home'}}">Return to polls</a></li>
          {{/if}}
        {{/if}}
      </ul>
      <ul class="right">
        {{#if currentUser}}
          <li><a href="{{pathFor route='home'}}" id="sign-out">Sign Out</a></li>
        {{else}}
          {{#if pageIsPoll}}
            <li><a href="{{pathFor route='home'}}" id="sign-in">Sign In</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </section>
  </nav>
</template>
