<template name="option">
  <div class="row option-item">
    <div class="small-6 medium-9 columns">
      <span class="text">{{value}}</span>
    </div>
    <div class="small-6 medium-3 columns">
      <span class="score-buttons">
        <strong>({{score}})</strong>
        <i class="fa fa-arrow-up upvote {{upvoted}}"></i>
        <i class="fa fa-arrow-down downvote {{downvoted}}"></i>
        {{#if canDelete}}<i class="fa fa-times delete"></i>{{/if}}
      </span>
    </div>
  </div>
</template>
