<template name="poll">
  <div class="row poll-title">
    <div class="small-12 columns">
      <h1 class="title text-center" contenteditable="true">{{title}}</h1>
    </div>
  </div>
  
  <div class="row option-list">
    <div class="small-12 medium-8 medium-centered columns">
      <ol>
        {{#each options}}
          {{> option}}
        {{/each}}
      </ol>
    </div>
  </div>
  
  <div class="row new-option-form">
    <div class="small-12 medium-8 medium-centered columns">
      <form class="new-option">
        <input type="text" name="text" placeholder="Type to add a new option" />
      </form>
    </div>
  </div>
</template>