<template name="signIn">
  <div class="row sign-in-box">
    <div class="small-12 medium-4 medium-centered columns">

      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Email Address
              <input type="email" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <label>Password
              <input type="password" />
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <input class="button expand" type="submit" value="Sign In" />
            <!-- <a role="button" aria-label="submit form" href="#" class="button">Submit</a> -->
          </div>
        </div>

        <div class="row">
          <div class="small-6 columns text-left">
            <a href="#">Forgot password</a>
          </div>
          <div class="small-6 columns text-right">
            <a href="#">Create Account</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</template>
