<template name="signIn">
  <div class="row sign-in-box">
    <div class="small-12 medium-4 medium-centered columns">

      {{#if resetPasswordUI}}
        {{> resetPassword}}
      {{else}}
        <form id="accounts-form" method="POST">
          <div class="row">
            <div class="small-12 columns">
              <label>Email Address
                <input type="email" name="email" />
              </label>
              {{#if forgotPasswordUI}}
                {{#if errorMessage}}
                  <small class="error">{{errorMessage}}</small>
                {{/if}}
                {{#if successMessage}}
                  <div data-alert class="alert-box info">
                    {{successMessage}}
                    <a href="#" class="close">&times;</a>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>

          {{#unless forgotPasswordUI}}
            <div class="row">
              <div class="small-12 columns">
                <label>Password
                  <input type="password" name="password" />
                </label>
                {{#if errorMessage}}
                  <small class="error">{{errorMessage}}</small>
                {{/if}}
              </div>
            </div>
          {{/unless}}

          <div class="row">
            <div class="small-12 columns">
              {{#if signInUI}}
                <input class="button radius expand" id="sign-in-btn" type="submit" value="Sign In" />
              {{/if}}
              {{#if createAccountUI}}
                <input class="button radius expand" id="create-account-btn" type="submit" value="Create Account" />
              {{/if}}
              {{#if forgotPasswordUI}}
                <input class="button radius expand" id="reset-passwd-btn" type="submit" value="Reset Password" />
              {{/if}}
            </div>
          </div>
        </form>

        <div class="row">
          <div class="small-6 columns text-left">
            {{#if signInUI}}
              <a id="forgot-passwd-link" href="#">Forgot password</a>
            {{/if}}
          </div>
          <div class="small-6 columns text-right">
            {{#if signInUI}}
              <a id="create-account-link" href="#">Create Account</a>
            {{else}}
              <a id="sign-in-link" href="#">Sign In</a>
            {{/if}}
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</template>
