@import "client/stylesheets/_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

// Colors from flatuicolors.com
$midnight-blue: #2c3e50;
$clouds: #ecf0f1;
$turquoise: #1abc9c;
$green-sea: #16a085;

body {
  background-color: $turquoise;
}

#poll-title {
  margin: 25px auto;
}

#title-text {
  color: $clouds;
  font-weight: 100;
  font-size: 72px;
  @media #{$small-only} { font-size: 36px; }
}

.row .option-item {
  background-color: $clouds;
  color: $midnight-blue;
  margin: 10px 0px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.score-buttons {
  float: right;
  @media #{$small-only} { letter-spacing: 2px; }
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.row #new-option-form {
  margin-top: 5px;
}

#new-option-input {
  padding: 20px 35px;
}

.upvote, .downvote {
  opacity: 0.4;
}

.active.upvote, .active.downvote {
  opacity: 1.0;
}

#login-buttons a {
  color: $midnight-blue;
}

#login-home {
  text-align: center;
}

#login-home a.login-close-text, #login-home a.login-link-text {
  display: none;
}

#login-home .accounts-dialog {
  position: relative;
  height: 205px;
  margin-top: 0px;
  text-align: left;
}

#create-poll {
  text-align: center;
  margin-top: 20px;
}

p#create-poll-or-login {
  text-align: center;
  color: $clouds;
}
