@import "client/stylesheets/_settings.scss";
@import ".meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

// Colors from flatuicolors.com
$midnight-blue: #2c3e50;
$clouds: #ecf0f1;
$clouds-dark: #d4d8d9;
$silver: #bdc3c7;
$turquoise: #1abc9c;
$green-sea: #16a085;

html {
	position: relative;
	min-height: 100%;
  height: auto;
}

body {
  background-color: $turquoise;
  padding-bottom: 100px;
  position: static;
  height: 100%;
}

footer {
	background-color: #2C4C50;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
  overflow: hidden;
}

#footer-text {
  color: $clouds;
  margin: 10px;
}

#footer-text a {
  color: $clouds;
  text-decoration: underline;
}

#poll-title {
  margin: 25px auto;
}

#title-text {
  color: $clouds;
  font-weight: 100;
  font-size: 72px;
  @media #{$small-only} { font-size: 36px; }
}

.row.item {
  background-color: $clouds;
  color: $midnight-blue;
  margin: 10px 0px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &.btn:hover {
    background-color: $clouds-dark;
  }
}

.score-buttons {
  float: right;
  @media #{$small-only} { letter-spacing: 2px; }
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.row #new-option-form {
  margin-top: 5px;
}

#new-option-input {
  padding: 20px 35px;
}

.upvote, .downvote {
  opacity: 0.4;
  &:hover {
    opacity: 1.0;
  }
}

.active.upvote, .active.downvote {
  opacity: 1.0;
  &:hover {
    opacity: 0.4;
  }
}

.icon-btn {
  color: $midnight-blue;
  opacity: 0.4;
  &:hover {
    cursor: pointer;
    opacity: 1.0;
  }
}

#create-poll {
  text-align: center;
  margin-top: 20px;
}

p#create-poll-or-login {
  text-align: center;
  color: $clouds;
}

.badge {
  background-color: $midnight-blue;
  color: $clouds;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 5px;
}

.top-bar.expanded .toggle-topbar a span::after {
  box-shadow: 0 0px 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}

.sign-in-box {
	font-size: 16px;
	font-weight: 500;
	color: $midnight-blue;
	label {
		@extend .sign-in-box;
	}
	a {
		@extend .sign-in-box;
		text-decoration: underline;
	}
}

a.close {
	text-decoration: none;
}
