// body
//   background-color #1abc9c
//
// .top-bar, .top-bar-section li:not(.has-form) a:not(.button)
//   background-color pink
//
// .poll-title
//   margin 25px auto
//
// .title
//   color #ecf0f1
//
// .row .option-item
//   background-color #ecf0f1
//   margin 10px 0px
//   padding 10px 20px
//   -webkit-border-radius 5px
//   -moz-border-radius 5px
//   border-radius 5px
//
// .score-buttons
//   float right