<template name="home">
  {{> navbar page="home"}}

  <div id="create-poll">
    <button class="button radius" id="create-poll-btn">Create a Poll</button>
  </div>

  {{#if currentUser}}
    <div class="row item-list home">
      <div class="small-12 medium-8 medium-centered columns">
        {{#each polls}}
          <a href="/polls/{{url}}">
            <div class="row item btn">
              <span class="link left">{{title}}</span>
              {{#if isPollCreator pollId=_id}}
                <span class="right">
                  <span class="badge">OWNER</span>
                  <a href="#" data-open="delete-poll-modal" data-poll-id="{{_id}}">
                    <i class="fa fa-times icon-btn delete"></i>
                  </a>
                </span>
              {{/if}}
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#unless currentUser}}
    <p id="create-poll-or-login">or</p>
    {{> signIn}}
  {{/unless}}

  <div id="delete-poll-modal" class="reveal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    {{> deletePollModal}}
  </div>

  {{> footer}}
</template>
