<template name="navbar">
  <div class="top-bar">
    <div class="top-bar-title">
      <a href="{{pathFor route='home'}}" id="site-title">VoteUp</a>
    </div>

    <div class="top-bar-left">
      <ul class="menu">
        {{#if currentUser}}
          {{#if pageIsPoll}}
            <li><a href="{{pathFor route='home'}}">Return to polls</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
        {{#if currentUser}}
          <li><a href="{{pathFor route='home'}}" id="sign-out">Sign Out</a></li>
        {{else}}
          {{#if pageIsPoll}}
            <li><a href="{{pathFor route='home'}}" id="sign-in">Sign In</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
</template>
