<template name="option">
  <div class="row item {{#if beginHidden}}hidden{{/if}}" data-option-id={{_id}}>
    <div class="small-6 medium-9 columns">
      <span class="text float-left">{{value}}</span>
    </div>
    <span class="score-buttons float-right">
      <strong>({{score}})</strong>
      <i class="fa fa-arrow-up icon-btn upvote {{upvoted}}"></i>
      <i class="fa fa-arrow-down icon-btn downvote {{downvoted}}"></i>
      {{#if isCreator}}<i class="fa fa-times icon-btn delete"></i>{{/if}}
    </span>
  </div>
</template>
