<template name="poll">
  {{> navbar page="poll"}}

  <div class="row" id="poll-title">
    <div class="small-12 columns">
      <h1 class="text-center" id="title-text" contenteditable="{{isCreator}}">{{title}}</h1>
    </div>
  </div>

  <div class="row item-list">
    <div id="options-parent" class="small-12 medium-8 medium-centered columns">
      <!-- {{#momentum plugin='slide-nice'}} -->
        {{#each options}}
          {{> option}}
        {{/each}}
      <!-- {{/momentum}} -->
    </div>
  </div>

  <div class="row" id="new-option-row">
    <div class="small-12 medium-8 medium-centered columns">
      <form id="new-option-form" autocomplete="off">
        <input id="new-option-input" type="text" name="text" placeholder="Type to add a new option" />
      </form>
    </div>
  </div>

  {{> footer}}
</template>
