<template name='resetPassword'>

  <form id="reset-passwd-form" method="POST">

    <div class="row">
      <div class="small-12 columns">
        <label>New Password
          <input type="password" name="password" />
        </label>
        {{#if errorMessage}}
          <small class="error">{{errorMessage}}</small>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <input class="button radius expand" id="set-passwd-btn" type="submit" value="Set Password" />
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns text-right">
        <a id="sign-in-link" href="#">Sign In</a>
      </div>
    </div>

  </form>

</template>
